#vs-hero { 

}

.vs-hero-bgimage {
    background: #111d31 url('../../assets/img/vetsmile/chart-lines.png'); 
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  .full-vh {
    height: 100vh;
    display: flex;
    align-items: center;
    min-height: 300px;

}

.hero-learn-more{
    width: auto;
}