#vs-hero { 
  h1{
    font-size: 56px;
    line-height: 60px;
  }
  h2{
    font-size: 40px;
    line-height: 44px;
  }
}

.vs-hero-bgimage {
  background: #111d31 url('../../assets/img/vetsmile/chart-lines.svg'); 

}

/* Desktop styles */
@media (min-width: 64em) {
  .vs-hero-bgimage {
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 85% auto;
  }
}

/* Tablet styles */
@media (min-width: 40em) and (max-width: 63.9375em) {
  .vs-hero-bgimage {
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 85% auto;
    /*
    background-size: cover;
    background-position: center;
    */
  }
}

/* Mobile styles */
@media (max-width: 39.9375em) {
  .vs-hero-bgimage {
      background-size: cover;
      background-position: center;
  }
}

.full-vh {
  height: 100vh;
  display: flex;
  align-items: center;
  min-height: 300px;
}

.hero-learn-more {
  width: auto;
}