<section id="our-team" class="margin-bottom-10">


    <!-- <div class="text-center text-white margin-top-0 desktop:padding-top-4 tablet:padding-top-4 desktop:padding-bottom-4 tablet:padding-bottom-4 mobile:padding-bottom-2 mobile:padding-top-2 margin-bottom-5 ccpi-header">
        <p class="text-base-lightest"><a href="../index.html">Home</a><img src="../assets/img/our-team/arrow.svg" class="margin-left-1 margin-right-1">Team</p>
        <h1 class="margin-bottom-0 margin-top-3">Our Team</h1>
    </div> -->


    <div class="grid-container">
        <div class="grid-row ">
            <div class=" tablet:grid-col-12 desktop:grid-col-8 desktop:grid-offset-2 ">

                <!-- LEFT -->
                <div class="grid-row grid-gap padding-top-5 padding-bottom-5 team-block">

                    <div class="grid-col-auto order-2 tablet-lg:order-1 img-cont">
                        <img src="../assets/img/our-team/david-a.png" alt="David Au" class="radius-md team-img">
                    </div>
                    <div class="grid-col  order-1 tablet-lg:order-2 team-title-l">
                        <h3 class="margin-top-0 margin-bottom-1">David Au, MD, MS</h3>
                        <h4 class="margin-top-0">Executive Director</h4>
                    </div>
                    <div class="order-3 team-p">
                        <p>For 25 years, Dr. Au has served VA as a pulmonary and critical care physician and researcher. His work has focused on care delivery innovation, with an emphasis on population level interventions that address the quality, equity, and efficiency of care delivery. Much of his effort has focused at the intersection of primary and specialty care. These interests have led to many of his roles within VA. Prior to CCPI, Dr. Au served in the National Pulmonary and Critical Care Program Office, led specialty care expansion for the National Clinical Resource Hub, and served as Director of the Center of Innovation for Veteran-Centered and Value-Driven Care in Seattle, WA. Outside VA, Dr. Au is a recognized expert in health services delivery in pulmonary medicine and has served on CMS technical expert panels, international guideline development committees and is the current Chair of the FDA Pulmonary Allergy Drug Advisory Committee. </p>

                        <p><strong>Health care innovation that excites me:</strong><br> Our new value-based care centers will not only serve as a nidus to structure care around a Veteran’s health journey, but also provide an opportunity to advance many new innovations across the organization for the benefit of all Veterans. </p>

                    </div>
                </div>
                <!-- END LEFT -->


                <!-- RIGHT -->
                <div class="grid-row grid-gap padding-top-5 padding-bottom-5 team-block";>
               
                    <div class="grid-col-auto order-1 tablet-lg:order-2 img-cont">
                        <img src="../assets/img/our-team/kathryn-p.png" alt="Kathryn Pierce" class="radius-md team-img">
                    </div>
                    <div class="grid-col  order-2 tablet-lg:order-1 team-title-r">
                        <h3 class="margin-top-0 margin-bottom-1 r-name-tab-1">Kathryn Pierce</h3>
                        <h4 class="margin-top-0">Executive Officer and Director of Operations</h4>
                    </div>
                    <div class="order-3 team-p">
                        <p>Ms. Kathryn “Katy” Pierce serves as the executive officer and director of operations for the Center for Care and Payment Innovation. In this role, Ms. Pierce directly supports the executive director in advancing transformative pilot programs across VHA.</p>
                        
                        <p> Ms. Pierce previously served as the executive officer for the Office of Healthcare Innovation and Learning, and, prior to joining the innovation team, she gained seven years of facility experience at the Central Virginia VA Health Care System (CVHCS) in Richmond, Virginia. Ms. Pierce joined CVHCS as an administrative resident and after completing her intern year, she served as the administrator and practice manager for the surgical services, later transitioning to the role of executive officer to the facility director and strategic planner.</p>
                        
                        <p>Ms. Pierce received her Bachelor of Arts degree from the University of Virginia and her Master of Health Administration degree from Virginia Commonwealth University.</p>

                        <p><strong>Health care innovation that excites me:</strong><br> Virtual care. The ability to deliver high-quality care in non-conventional settings is continuing to transform the healthcare landscape and offers exciting opportunities for greater access to and continuity of care.</p>
                    </div>
                </div>
                <!-- END RIGHT -->


                <!-- LEFT -->
                <div class="grid-row grid-gap padding-top-5 padding-bottom-5 team-block">

                    <div class="grid-col-auto order-2 tablet-lg:order-1 img-cont">
                        <img src="../assets/img/our-team/natalie-m.png" alt="Natalie Maixner" class="radius-md team-img">
                    </div>
                    <div class="grid-col  order-1 tablet-lg:order-2 team-title-l">
                        <h3 class="margin-top-0 margin-bottom-1">Natalie Maixner </h3>
                        <h4 class="margin-top-0">Director, Project Operations </h4>
                    </div>
                    <div class="order-3 team-p">
                        <p>Ms. Natalie Maixner serves as the director for project operations for the Center for Care and Payment Innovation (CCPI) where she provides leadership and direction to CCPI’s portfolio of pilot programs. Prior to joining CCPI, Ms. Maixner held the position of assistant director for the Central Virginia VA Health Care System (CVHCS) where she was responsible for providing executive oversight to numerous service lines.</p>

                        <p>Ms. Maixner began her VA career as an administrative resident and gained a wide variety of experience during her time at CVHCS where she served as the administrator for the Fredericksburg Health Care Center, the executive assistant to the medical center director and strategic planner, the acting VISN 6 strategic planner, the administrative officer for primary care and the acting practice manager for several outpatient clinics.</p>
                        
                        <p>Ms. Maixner holds a Bachelor of Science degree from the Virginia Polytechnic Institute and State University and a Master of Health Administration degree from Virginia Commonwealth University. </p>

                        <p><strong>Health care innovation that excites me:</strong><br> CCPI is uniquely positioned with a waiver authority established through the MISSION Act. Leveraging this authority allows our team to collaborate with stakeholders to design and test models with the goal of reshaping the way VA delivers healthcare and improves value for Veterans. </p>

                    </div>
                </div>
                <!-- END LEFT -->


                <!-- RIGHT -->
                <div class="grid-row grid-gap padding-top-5 padding-bottom-5 team-block";>
                
                    <div class="grid-col-auto order-1 tablet-lg:order-2 img-cont">
                        <img src="../assets/img/our-team/donna-m.png" alt="Donna Richardson" class="radius-md team-img">
                    </div>
                    <div class="grid-col  order-2 tablet-lg:order-1 team-title-r">
                        <h3 class="margin-top-0 margin-bottom-1 ">Donna M. Richardson </h3>
                        <h4 class="margin-top-0 r-name-tab-2">Project Manager </h4>
                    </div>
                    <div class="order-3 team-p">
                        <p>Donna Richardson has worked for the Veterans Health Administration (VHA) over twenty years and has an eclectic background from Clinical Nutrition, Information Technology, Systems Redesign, Change Management and Professional Coaching.  She currently works for the Center for Care and Payment Innovation as a Project Manager. In 2018 she graduated from the Federal Internal Coaching Training Program and obtained her Associate Certified Coach (ACC) from the International Coaching Federation in 2020 and actively coaches’ executives in VHA. In her spare time Donna enjoys driving her 67 Camaro, walking/hiking, yoga, and drinking a great cup of coffee!</p>

                        <p><strong>Health care innovation that excites me:</strong><br> Improving care for our Veterans and positively impacting the work our front-line workers do supporting our Veterans! </p>
                    </div>
                </div>
                <!-- END RIGHT -->



                <!-- LEFT -->
                <div class="grid-row grid-gap padding-top-5 padding-bottom-5 team-block">

                <div class="grid-col-auto order-2 tablet-lg:order-1 img-cont">
                    <img src="../assets/img/our-team/william-m.png" alt="William Mansfield" class="radius-md team-img">
                </div>
                <div class="grid-col  order-1 tablet-lg:order-2 team-title-l">
                    <h3 class="margin-top-0 margin-bottom-1">William (Bill) Mansfield</h3>
                    <h4 class="margin-top-0">Health Systems Specialist</h4>
                </div>
                <div class="order-3 team-p">
                    <p>Mr. Mansfield currently serves as the Contracting Officer Representative and Project Manager for CCPI. Mr. Mansfield has served in many roles across VA and has diverse experience leading work in the Office of Integrated Veteran Care, the Office of Veterans Access to Care, and Systems Redesign. Mr. Mansfield received his Bachelor of Arts degree from the University of North Florida, his Master of Business Administration from Northcentral university, and is a United States Army Veteran.</p>

                    <p><strong>Health care innovation that excites me:</strong><br> The application and development of A.I. for use in the delivery of medical processes. VA is making it easier to acquire outside expertise in A.I. with a variety of contract vehicles. These contracts will help VHA in delivering the right care at the right time where Veterans need&nbsp;it.</p>

                </div>
            </div>
            <!-- END LEFT -->


            <!-- RIGHT -->
            <div class="grid-row grid-gap padding-top-5 padding-bottom-5 team-block";>
            
                <div class="grid-col-auto order-1 tablet-lg:order-2 img-cont">
                    <img src="../assets/img/our-team/kathryn-p.png" alt="Bailee Bannan" class="radius-md team-img">
                </div>
                <div class="grid-col  order-2 tablet-lg:order-1 team-title-r">
                    <h3 class="margin-top-0 margin-bottom-1">Bailee Bannan</h3>
                    <h4 class="margin-top-0 r-name-tab-3">Project Manager</h4>
                </div>
                <div class="order-3 team-p">
                    <p>Ms. Bailee Bannan is a project manager at the Center for Care and Payment Innovation where she manages pilot development and implementation to address opportunities for improvement in care and payment models throughout the enterprise. She began her career as an administrative resident with the Central Virginia VA Health Care System, spending seven years developing and guiding leasing projects to give Veterans better access to care within their communities.</p>
                    <p>Ms. Bannan received her master's degree in Health Administration from Virginia Commonwealth University, and prior to joining the VA, she ran a home health agency for children and adults needing hourly in-home care. </p>

                    <p><strong>Health care innovation that excites me:</strong><br> Health care innovation - whether it's new technology, innovative payment models or reimagined care delivery - allows us to better serve Veterans and the providers that care for them. Each of these innovations excite me because health care innovation, at its core, is about opportunity - the opportunity to improve quality of care, the opportunity to creatively alleviate burdens for providers and the opportunity to reach people where they are to create a better care experience. </p>
                </div>
            </div>
            <!-- END RIGHT -->


            <!-- LEFT -->
            <div class="grid-row grid-gap padding-top-5 padding-bottom-5 team-block">

            <div class="grid-col-auto order-2 tablet-lg:order-1 img-cont">
                <img src="../assets/img/our-team/deleena-s.png" alt="Deleena Scott" class="radius-md team-img">
            </div>
            <div class="grid-col  order-1 tablet-lg:order-2 team-title-l">
                <h3 class="margin-top-0 margin-bottom-1">Deleena Scott</h3>
                <h4 class="margin-top-0">Senior Strategic Innovations Analyst </h4>
            </div>
            <div class="order-3 team-p">
                <p>Ms. Daleena Scott currently serves as a senior strategic innovations analyst for the VHA Center for Care and Payment Innovation (CCPI). She focuses on determining the analytic needs of CCPI pilots to ensure that they possess meaningful data in order to tell their stories and evaluate their impacts. Ms. Scott works to support organizational priorities that conceptualize and implement data-centric innovations in support of Veterans health care delivery. Ms. Scott is an Army Veteran who has served VHA for eight years in various capacities. She is passionate about breaking down barriers specific to women Veterans, while continuing to improve access and quality for all. </p>

                <p><strong>Health care innovation that excites me:</strong><br> A health care innovation that excites me is women's health in the VA. I'm passionate about the opportunity to make VA health care accessible and innovative for all that have served. I believe the initiatives that have happened in recent years, and the ones on the horizon, allow VHA to be a leading inclusive health care system. </p>

            </div>
        </div>
        <!-- END LEFT -->


        <!-- RIGHT -->
        <div class="grid-row grid-gap padding-top-5 padding-bottom-5 team-block";>
        
            <div class="grid-col-auto order-1 tablet-lg:order-2 img-cont">
                <img src="../assets/img/our-team/joseph-w.png" alt="Joseph Wallace" class="radius-md team-img">
            </div>
            <div class="grid-col  order-2 tablet-lg:order-1 team-title-r">
                <h3 class="margin-top-0 margin-bottom-1 r-name-tab-4">Joseph Wallace</h3>
                <h4 class="margin-top-0">Senior Strategic Innovations Analyst </h4>
            </div>
            <div class="order-3 team-p">
                <p>Mr. Joseph “Mike” Wallace serves as a senior strategic innovations analyst for the Center for Care and Payment Innovation (CCPI) and has over 11 years of experience working with the Department of Veterans Affairs. Prior to joining CCPI, Mr. Wallace served as a management & program analyst with the Atlanta VA Health Care System. With a passion for data analytics and informatics, he also served in the role of performance improvement coordinator for specialty medicine. Additionally, Mr. Wallace served as a registered nurse in the operating room, specializing in orthopedic and trauma surgeries, and he is a Veteran of the United States Air Force. </p>

                <p><strong>Health care innovation that excites me:</strong><br> A health care innovation I'm excited about is the adoption and integration of AI-based health care applications to improve outcomes for our Veterans, reduce operational inefficiencies within the Department and improve workload balance for health care professionals, fulfilling the VA mission. </p>
            </div>
        </div>
        <!-- END RIGHT -->


        <!-- LEFT -->
        <div class="grid-row grid-gap padding-top-5 padding-bottom-5 team-block">

        <div class="grid-col-auto order-2 tablet-lg:order-1 img-cont">
            <img src="../assets/img/our-team/hugh-w.png" alt="Hugh Welch" class="radius-md team-img">
        </div>
        <div class="grid-col  order-1 tablet-lg:order-2 team-title-l">
            <h3 class="margin-top-0 margin-bottom-1">Hugh Welch</h3>
            <h4 class="margin-top-0">Senior Strategic Innovations Analyst</h4>
        </div>
        <div class="order-3 team-p">
            <p>Hugh Welch serves as a senior strategic innovations analyst for the VHA Center for Care and Payment Innovation (CCPI). He specializes in combining data science with Lean Six Sigma principles to transform health care data into operational insights that support a culture of high-reliability and continuous process improvement. Hugh is a Lean Six Sigma Black Belt who has led several process improvement projects, achieving success in a variety of areas including reductions in emergency department patient wait times, decreased congestive heart failure hospital readmissions and increased efficiency in disaster resource utilization. His work has been highlighted by the American College of Healthcare Executives, the South Carolina Hospital Association and the Veterans Health Administration Innovation Experience. </p>

            <p><strong>Health care innovation that excites me:</strong><br> I'm incredibly excited by the opportunity to operationalize machine learning within VHA systems to help uncover hidden insights and drive improvements in Veteran health outcomes. There is huge potential in unlocking the power of our unrivaled data stores to craft the future of global health care. </p>

            </div>
        </div>
        <!-- END LEFT -->


        <!-- RIGHT -->
        <div class="grid-row grid-gap padding-top-5 padding-bottom-5 team-block";>
        
            <div class="grid-col-auto order-1 tablet-lg:order-2 img-cont">
                <img src="../assets/img/our-team/erin-g.png" alt="Erin Gerace" class="radius-md team-img">
            </div>
            <div class="grid-col  order-2 tablet-lg:order-1 team-title-r">
                <h3 class="margin-top-0 margin-bottom-1 r-name-tab-5">Erin Gerace</h3>
                <h4 class="margin-top-0">Management Analyst</h4>
            </div>
            <div class="order-3 team-p">
                <p>Ms. Gerace currently serves as the administrative specialist for CCPI where she oversees a variety of daily office organizational tasks. Ms. Gerace previously served as the special assistant to the director from the Medical-Legal Risk Management office in VACO (formerly OMLA) where she led and managed the program office processes. Her VA career began as a Physical Therapist Assistant at the Buffalo VAMC where she specialized in her passion in outpatient orthopedic and spinal rehabilitation. </p>

                <p><strong>Health care innovation that excites me:</strong><br> The innovations that excite me are the strides VA is making in delivering better physical therapy to Veterans that are reducing barriers and improving long-term outcomes. I'm also excited to see the different ways VA is working with virtual reality in health care to support Veterans in a number of health areas from mental health to pain management. </p>
            </div>
        </div>
        <!-- END RIGHT -->

        </div>
    </div>
</div>

</section>