<section id="our-team">


            <div class="text-center text-white margin-top-0 padding-top-4 padding-bottom-4 ccpi-header" style="background: red;">
                <p><a href="index.html>">Home</a> > Team</p>
            <h1 class="">Our Team</h1>
            </div>


    <div class="grid-container">
        <div class="grid-row ">
            <div class=" tablet:grid-col-12 desktop:grid-col-8 desktop:grid-offset-2" style="background: blue;">

                <!-- LEFT -->
                <div class="">
                    <img src="../../assets/img/our-team/david-a.png" alt="Photo of David Au, MD, MS">
                    <h3>David Au, MD, MS</h3>
                    <p class="">Executive Director</p>
                </div>

                <div class="">
                    <p>For 25 years, Dr. Au has served VA as a pulmonary and critical care physician and researcher...</p>
                    <p><strong>Health care innovation that excites me:</strong> Our new value-based care centers...</p>
                </div>

                <!-- RIGHT -->
                <div class="">
                    <img src="../../assets/img/our-team/david-a.png" alt="Photo of David Au, MD, MS">
                    <h3>David Au, MD, MS</h3>
                    <p class="">Executive Director</p>
                </div>

                <div class="">
                    <p>For 25 years, Dr. Au has served VA as a pulmonary and critical care physician and researcher...</p>
                    <p><strong>Health care innovation that excites me:</strong> Our new value-based care centers...</p>
                </div>

            </div>
        </div>
    </div>

</section>