<section id="learn-more">
<div id="vs-description" class="usa-section vs-descrption-bgimage ">
 
    <div class="grid-container margin-bottom-10">
      <div class="grid-row">
        <div class="mobile:grid-col-11 tablet:grid-col-11 desktop:grid-col-8 margin-x-auto">
          <p class="font-sans-lg text-light">Roughly 85% of VHA-enrolled Veterans do not have dental benefits through VA, causing a significant dental care gap for this population. The Center for Care and Payment Innovation (CCPI) is addressing this gap in dental coverage by using its waiver authority to coordinate free, ongoing dental services for Veterans without a VA dental benefit. This pilot program sets up a direct referral system from VA providers to community dental schools that are willing to offer dental services at no cost to the Veteran. CCPI will measure the effect of these coordination efforts on Veteran dental engagement and will report back to Congress at the end of the waiver period in July 2026.</p>
        </div>
      </div>
    </div>



    {% include "vetsmile/stats.html" %}
  </div>
</section>