<section id="vs-hero" class="usa-section vs-hero-bgimage full-vh">
    <div class="grid-container margin-left-0 padding-0">
        <div class="grid-row">
            <div class="tablet:grid-col-12 mobile-lg:margin-left-3 margin-0">
                <div class="hero-content grid-col-12 margin-left-3 margin-right-3">
                    <h1 class="padding-bottom-0 margin-bottom-0 text-white text-left">Bridging the Dental Care<br> Gap for Veterans:</h1>
                    <h2 class="padding-top-0 padding-bottom-0 margin-top-1 margin-bottom-0 text-white text-left text-normal">VETSmile's Mission to Serve</h2>
                    <a href="#learn-more" class="usa-button usa-button--accent-cool usa-button--big margin-top-6 font-mono-sm hero-learn-more">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    // get header size to adjust hero section to be 100vh minus header
    document.addEventListener("DOMContentLoaded", function() {
        function adjustSectionHeight() {
            var header = document.getElementById('header-sizing'); 
            var section = document.getElementById('vs-hero');
            var headerHeight = header ? header.offsetHeight : 0;
            section.style.height = `calc(100vh - ${headerHeight}px)`;
        }
    
        adjustSectionHeight();
        window.addEventListener('resize', adjustSectionHeight);
    });
    </script>