<section id="vs-hero">
<div style="background: #111d31;">
<div class="usa-banner__inner">
    <div class="tablet:grid-col-12 grid-row">
        <div class="hero-summit tablet:grid-col-12 padding-top-10" style="margin-left: 1rem;">
            <h1 class="padding-bottom-0 margin-bottom-0 text-white text-left h1fs">Bridging the Dental Care<br> Gap for Veterans</h1>
            <h2 class="padding-top-0 padding-bottom-0 margin-top-0 margin-bottom-0 text-white text-left h2fs">VETSmile's Mission to Serve</h2>
        </div>
    </div>
</div>
</div>
</section>


