<!--
<section id="vs-stats">
    <div class="grid-container">
        <div class="grid-row">
            <div class="mobile:grid-col-11 tablet:grid-col-10 desktop:grid-col-8 margin-x-auto">
                <div class="grid-container padding-0">
                   
                    <div class="grid-row flex-justify-start padding-bottom-6 padding-top-5">
                        <div class="grid-col vs-stats-r">
                            <p class="text-bold text-primary text-cyan font-sans-3xl margin-0 margin-bottom-05 stats-num text-heavy font-sans-3xl ">2,922</p>
                            <p class="margin-0  text-bold font-sans-lg line-height-sans-3 ">Veterans Treated at VETSmile<br> Community Partners</p>
                        </div>
                        <div class="grid-col-2 margin-left-5 stat-img">
                            <img src="../assets/img/vetsmile/partners.png" alt="People Icon" />
                        </div>
                    </div>
                   
                    <div class="grid-row flex-justify-end padding-bottom-6 padding-top-6">
                        <div class="grid-col-2 margin-right-5 stat-img">
                            <img src="../assets/img/vetsmile/calendar.png" alt="Calendar Icon" />
                        </div>
                        <div class="grid-col margin-top-3">
                            <p class="text-bold text-primary text-cyan font-sans-3xl margin-0 margin-bottom-05 stats-num">20,097</p>
                            <p class="margin-0  text-bold font-sans-lg line-height-sans-3 ">Visits provided thru VET Smile</p>
                        </div>
                    </div>
                 
                    <div class="grid-row flex-justify-start padding-bottom-6 padding-top-6">
                        <div class="grid-col vs-stats-r margin-top-3 ">
                            <p class="text-bold text-primary text-cyan font-sans-3xl margin-0 margin-bottom-05 stats-num">70,186</p>
                            <p class="margin-0  text-bold font-sans-lg line-height-sans-3">Procedures performed</p>
                        </div>
                        <div class="grid-col-2 margin-left-5 stat-img">
                            <img src="../assets/img/vetsmile/tooth.png" alt="Tooth Icon" />
                        </div>
                    </div>

               
                    <div class="grid-row flex-justify-end padding-bottom-6 padding-top-6">
                        <div class="grid-col-2 margin-right-5 stat-img">
                            <img src="../assets/img/vetsmile/heart.png" alt="Hands Holding Heart Icon" />
                        </div>
                        <div class="grid-col">
                            <p class="text-bold text-primary text-cyan font-sans-3xl margin-0 margin-bottom-05 stats-num">$8.82 million</p>
                            <p class="margin-0  text-bold font-sans-lg line-height-sans-3">Total Cost of Care Donated by<br> VET Smile Community Partners</p>
                        </div>
                    </div>



                    <p class="usa-text-align-center stats-contact font-sans-lg">
                        For any questions related to the VETSmile program, please contact 
                        <a href="mailto:vetsmile.vaco@va.gov" class="usa-link">vetsmile.vaco@va.gov</a>.
                    </p>

   
                </div>
            </div>
        </div>
    </div>
</section>
-->


 <!-- 
<section id="vs-stats">
    <div class="grid-container">
        <div class="grid-row">
            <div class="mobile:grid-col-11 tablet:grid-col-10 desktop:grid-col-8 margin-x-auto">
                <div class="grid-container padding-0">
                
                    <div class="grid-row padding-bottom-6 padding-top-5">
                        <div class="grid-col">
                            <p class="text-bold text-primary text-cyan font-sans-3xl margin-0 margin-bottom-05 stats-num text-heavy vs-stats-r ">2,922</p>
                            <p class="margin-0 text-bold font-sans-lg line-height-sans-3 vs-stats-r ">Veterans Treated at VETSmile<br> Community Partners</p>
                        </div>
                        <div class="grid-col-2 margin-left-5 stat-img">
                            <img src="../assets/img/vetsmile/partners.png" alt="People Icon" class="stat-img" />
                        </div>
                    </div>
              
                    <div class="grid-row padding-bottom-6 padding-top-6">
                        <div class="grid-col-2 margin-right-5 stat-img">
                            <img src="../assets/img/vetsmile/calendar.png" alt="Calendar Icon" class="stat-img" />
                        </div>
                        <div class="grid-col margin-top-3">
                            <p class="text-bold text-primary text-cyan font-sans-3xl margin-0 margin-bottom-05 stats-num vs-stats-l">20,097</p>
                            <p class="margin-0 text-bold font-sans-lg line-height-sans-3 vs-stats-l">Visits provided thru VET Smile</p>
                        </div>
                    </div>
                 
                    <div class="grid-row padding-bottom-6 padding-top-6">
                        <div class="grid-col margin-top-3">
                            <p class="text-bold text-primary text-cyan font-sans-3xl margin-0 margin-bottom-05 stats-num vs-stats-r ">70,186</p>
                            <p class="margin-0 text-bold font-sans-lg line-height-sans-3 vs-stats-r ">Procedures performed</p>
                        </div>
                        <div class="grid-col-2 margin-left-5 stat-img">
                            <img src="../assets/img/vetsmile/tooth.png" alt="Tooth Icon" class="stat-img" />
                        </div>
                    </div>

               
                    <div class="grid-row padding-bottom-6 padding-top-6">
                        <div class="grid-col-2 margin-right-5 stat-img">
                            <img src="../assets/img/vetsmile/heart.png " alt="Hands Holding Heart Icon" class="stat-img" />
                        </div>
                        <div class="grid-col">
                            <p class="text-bold text-primary text-cyan font-sans-3xl margin-0 margin-bottom-05 stats-num vs-stats-l">$8.82 million</p>
                            <p class="margin-0 text-bold font-sans-lg line-height-sans-3 vs-stats-l">Total Cost of Care Donated by<br> VET Smile Community Partners</p>
                        </div>
                    </div>

                    <p class="usa-text-align-center stats-contact font-sans-lg">
                        For any questions related to the VETSmile program, please contact 
                        <a href="mailto:vetsmile.vaco@va.gov" class="usa-link">vetsmile.vaco@va.gov</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
-->




<section id="vs-stats">
    <div class="grid-container">
        <div class="grid-row">
            <div class="mobile:grid-col-11 tablet:grid-col-10 desktop:grid-col-8 margin-x-auto">
                <div class="grid-container padding-0">
                   
                    <!-- Section 1 -->
                    <div class="grid-row padding-bottom-8 padding-top-5">
                        <div class="mobile:grid-col-12 tablet:grid-col">
                            <p class="text-bold text-primary text-cyan font-sans-3xl margin-0 margin-bottom-05 stats-num text-heavy vs-stats-r ">2,922</p>
                            <p class="margin-0 text-bold font-sans-lg line-height-sans-3 vs-stats-r ">Veterans Treated at VETSmile<br> Community Partners</p>
                        </div>
                        <div class="mobile:grid-col-12 desktop:grid-col-2 margin-left-5 stat-img">
                            <img src="../assets/img/vetsmile/partners.png" alt="People Icon" class="stat-img" />
                        </div>
                    </div>


                    <!-- Section 2 -->
                    <div class="grid-row padding-bottom-8 padding-top-8">
                        <div class="mobile:grid-col-12 tablet:grid-col margin-top-3 desktop:order-2 tablet:order-2 ">
                            <p class="text-bold text-primary text-cyan font-sans-3xl margin-0 margin-bottom-05 stats-num vs-stats-l">20,097</p>
                            <p class="margin-0 text-bold font-sans-lg line-height-sans-3 vs-stats-l">Visits provided thru VET Smile</p>
                        </div>
                        <div class="mobile:grid-col-12 desktop:grid-col-2 margin-right-5 stat-img mobile:order-2 desktop:order-1 tablet:order-1">
                            <img src="../assets/img/vetsmile/calendar.png" alt="Calendar Icon" class="stat-img" />
                        </div>
                
                    </div>
                    


                    <!-- Section 3 -->
                    <div class="grid-row padding-bottom-8 padding-top-8">
                        <div class="mobile:grid-col-12 tablet:grid-col margin-top-3">
                            <p class="text-bold text-primary text-cyan font-sans-3xl margin-0 margin-bottom-05 stats-num vs-stats-r ">70,186</p>
                            <p class="margin-0 text-bold font-sans-lg line-height-sans-3 vs-stats-r ">Procedures performed</p>
                        </div>
                        <div class="mobile:grid-col-12 desktop:grid-col-2 margin-left-5 stat-img">
                            <img src="../assets/img/vetsmile/tooth.png" alt="Tooth Icon" class="stat-img" />
                        </div>
                    </div>

                    <!-- Section 4 -->
                    <div class="grid-row padding-bottom-8 padding-top-8">
                        <div class="mobile:grid-col-12 tablet:grid-col desktop:order-2 tablet:order-2">
                            <p class="text-bold text-primary text-cyan font-sans-3xl margin-0 margin-bottom-05 stats-num vs-stats-l">$8.82 million</p>
                            <p class="margin-0 text-bold font-sans-lg line-height-sans-3 vs-stats-l">Total Cost of Care Donated by<br> VET Smile Community Partners</p>
                        </div>

                        <div class="mobile:grid-col-12 desktop:grid-col-2 margin-right-5 stat-img mobile:order-2 desktop:order-1 tablet:order-1">
                            <img src="../assets/img/vetsmile/heart.png " alt="Hands Holding Heart Icon" class="stat-img" />
                        </div>
                
                    </div>

                    <p class="usa-text-align-center stats-contact font-sans-lg">
                        For any questions related to the VETSmile program, please contact 
                        <a href="mailto:vetsmile.vaco@va.gov" class="usa-link">vetsmile.vaco@va.gov</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
