#vs-description { 

   h1{
    color: red;
   }




}



.vs-descrption-bgimage {
   background-image: url('../../assets/img/vetsmile/chart-lines-2.svg'); 
   background-position: top right;
   background-repeat: no-repeat;
   background-size: 85% auto;
   width: 100%;
 }