<!-- ALIGNMENT - START -->
<section id="alignment" class="alignment mobile:padding-bottom-8 mobile:padding-top-0 tablet:padding-bottom-10 tablet:padding-top-0 desktop-lg:padding-bottom-10 desktop-lg:padding-top-0">
    <div class="grid-container">
        <div class="grid-row grid-gap flex-align-center padding-bottom-5">
            <div class="tablet:grid-col-8 tablet:grid-offset-2 alignment__content text-center">
                <h1 class="margin-top-0 text-center">Alignment</h1>
                <p>CCPI is organizationally aligned to the VHA Office of Healthcare Innovation and Learning (OHIL), which is a key program under the VHA Office of Discovery, Education and Affiliate Networks (DEAN).</p>
                <p>CCPI aligns to OHIL strategic priorities:</p>
            </div>
        </div>
        <div class="grid-row tablet:grid-col-8 tablet:grid-offset-2 flex-container flex-justify-center text-center">
            <div class="desktop:grid-col-4 tablet:grid-col-12 desktop:display-flex">
                <div class="usa-card">
                    <div class="usa-card__container text-white alignment-protection">
                        <div class="usa-card__header padding-bottom-0">
                            <img src="../assets/img/about/alignment-icon-protection.svg" alt="Protection icon" class="usa-media_block-img">
                        </div>
                        <div class="usa-card__body">
                            <p>Advancing care outside the hospital walls.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="desktop:grid-col-4 tablet:grid-col-12 desktop:display-flex">
                <div class="usa-card">
                    <div class="usa-card__container text-white alignment-personalized-hc">
                        <div class="usa-card__header padding-bottom-0">
                            <img src="../assets/img/about/alignment-icon-personalized-hc.svg" alt="Personalized health care icon" class="usa-media_block-img">
                        </div>
                        <div class="usa-card__body">
                            <p>Fostering personalized health care solutions.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="desktop:grid-col-4 tablet:grid-col-12 desktop:display-flex">
                <div class="usa-card">
                    <div class="usa-card__container text-white alignment-medical-team">
                        <div class="usa-card__header padding-bottom-0">
                            <img src="../assets/img/about/alignment-icon-medical-team.svg" alt="Medical team icon" class="usa-media_block-img">
                        </div>
                        <div class="usa-card__body">
                            <p>Building and empowering the health care workforce of the future.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="desktop:grid-col-4 tablet:grid-col-12 desktop:display-flex">
                <div class="usa-card">
                    <div class="usa-card__container text-white alignment-medical-network">
                        <div class="usa-card__header padding-bottom-0">
                            <img src="../assets/img/about/alignment-icon-medical-network.svg" alt="Medical network icon" class="usa-media_block-img">
                        </div>
                        <div class="usa-card__body">
                            <p>Forging the path for systematic, value-based care.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="desktop:grid-col-4 tablet:grid-col-12 desktop:display-flex">
                <div class="usa-card">
                    <div class="usa-card__container text-white alignment-veterans">
                        <div class="usa-card__header padding-bottom-0">
                            <img src="../assets/img/about/alignment-icon-us-flag.svg" alt="US flag icon" class="usa-media_block-img">
                        </div>
                        <div class="usa-card__body">
                            <p>Creating sustainable health care for the Nation's Veterans and generations to come.</p>
                        </div>
                    </div>
                </div>
            </div>                                      
        </div>
    </div>
</section>
<!-- ALIGNMENT - END -->