<!-- alignment - START -->
<section id="alignment" class="alignment mobile:padding-y-8 tablet:padding-y-10 desktop-lg:padding-y-15">
    <div class="grid-container">
        <div class="grid-row grid-gap flex-align-center">
            <div class="col-12 desktop-lg:grid-col-10 desktop-lg:grid-offset-1 alignment__content text-center">
                <h1 class="margin-top-0 text-center">Alignment</h1>
                <p>CCPI is organizationally aligned to the VHA Office of Healthcare Innovation and Learning (OHIL), which is a key program under the VHA Office of Discovery, Education and Affiliate Networks (DEAN).</p>
                <p>CCPI aligns to OHIL strategic priorities:</p>
            </div>
        </div>
    </div>
</section>
<!-- alignment - END -->