<!-- ALIGNMENT - START -->
<section id="new-entrepreneurship-residence-fellows" class="new-entrepreneurship-residence-fellows">
    <div class="grid-container grid-container tablet:grid-col-8 tablet:grid-offset-2 margin-bottom-10 tablet:margin-y-15">
        <div class="text-center">   
            <h2 class="h1">2024 Entrepreneur <br class="hide-at-lg" />in Residence Fellows</h2>    
        </div>
        <div class="grid-row grid-gap text-center new-fellows-wrapper margin-bottom-3 text-white">
            <!-- Col 1  -->
            <div class="desktop:grid-col-4 tablet:grid-col-12">
                <div class="radius-md alignment-protection">
                    <img src="../assets/img/about/alignment-icon-protection.svg" alt="Protection icon" class="usa-media_block-img">
                    <p>Advancing care outside the hospital walls.</p>
                </div>
            </div>
            <!-- Col 2  -->
            <div class="desktop:grid-col-4 tablet:grid-col-12">
                <div class="radius-md alignment-personalized-hc">
                    <img src="../assets/img/about/alignment-icon-personalized-hc.svg" alt="Personalized health care icon" class="usa-media_block-img">
                    <p>Fostering personalized health care solutions.</p>
                </div>
            </div>
            <!-- Col 3  -->
            <div class="desktop:grid-col-4 tablet:grid-col-12">
                <div class="radius-md alignment-medical-team">
                    <img src="../assets/img/about/alignment-icon-medical-team.svg" alt="Medical team icon" class="usa-media_block-img">
                    <p>Building and empowering the health care workforce of the future.</p>
                </div>
            </div>
        <!-- </div>
        <div class="grid-row grid-gap text-center new-fellows-wrapper"> -->
            <!-- Col 1  -->
            <!-- <div class="grid-col-12 tablet-lg:grid-col-4 tablet-lg:grid-offset-2 desktop:grid-offset-2"> -->
            <div class="desktop:grid-col-4 tablet:grid-col-12">
                <div class="radius-md alignment-medical-network">
                    <img src="../assets/img/about/alignment-icon-medical-network.svg" alt="Medical network icon" class="usa-media_block-img">
                    <p>Forging the path for systematic, value-based care.</p>
                </div>
            </div>
            <!-- Col 2  -->
            <div class="desktop:grid-col-4 tablet:grid-col-12">
                <div class="alignment-veterans radius-md">
                    <img src="../../assets/img/about/alignment-icon-us-flag.svg" alt="US flag icon" class="usa-media_block-img">
                    <p>Creating sustainable health care for the Nation's Veterans and generations to come.</p>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ALIGNMENT - END -->