<!-- ESTABLISHMENT - START -->
<section id="establishment" class="establishment mobile:padding-top-8 mobile:padding-bottom-15 tablet:padding-top-10 tablet:padding-bottom-15 desktop-lg:padding-top-10 desktop-lg:padding-bottom-15">
    <div class="grid-container">
        <div class="grid-row grid-gap flex-align-center">
            <div class="tablet:grid-col-8 tablet:grid-offset-2 text-center">
                <h1 class="margin-top-0 text-center">Establishment</h1>
                <p>CCPI was established under the MISSION Act (Sect. 152) in 2018 to identify and test new financial and service delivery models aimed at sustaining or improving quality without increasing costs.</p>
            </div>
        </div>
    </div>
</section>
<!-- ESTABLISHMENT - END -->