<!-- <section id="page-title" class="page-title position-relative">
    <div class="text-center text-white margin-top-0 desktop:padding-top-4 tablet:padding-top-4 desktop:padding-bottom-4 tablet:padding-bottom-4 mobile:padding-bottom-2 mobile:padding-top-2 margin-bottom-5 ccpi-header">
        <p class="text-base-lightest"><a href="../index.html">Home</a><img src="../assets/img/our-team/arrow.svg" class="margin-left-1 margin-right-1">About</p>
        <h1 class="margin-bottom-0 margin-top-3">About</h1>
    </div>   
</section> -->
<section id="page-title" class="page-title position-relative">
    <div class="grid-container position-relative text-center">
        <nav class="usa-breadcrumb bg-transparent" aria-label="Breadcrumbs">
            <ol class="usa-breadcrumb__list">
                <li class="usa-breadcrumb__list-item">
                    <a href="/oam/" title="CCPI Home" class="usa-breadcrumb__link"><span>Home</span></a>
                </li>
                <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
                    <span>About CCPI</span>
                </li>
            </ol>
        </nav>
        <div class="grid-row grid-gap padding-bottom-5 mobile:padding-top-8 tablet:padding-top-8 desktop-lg:padding-top-9">
            <div class="grid-col-12 tablet-lg:grid-col-10 tablet-lg:grid-offset-1">
                <h1 class="font-body-4xl margin-bottom-1 tablet:margin-bottom-2 margin-top-0">About CCPI</h1>
            </div>
        </div>
    </div>      
</section>