
<section class="h-flow">
    <div class="grid-container">
      <div class="grid-row">
        <div class="tablet:grid-col-12 padding-105">
          <div class="usa-section flow-bg ">
            <!-- Top row with centered arrow -->
            <div class="grid-row grid-gap">
              <div class="tablet:grid-col-12 text-center">
                <img src="../../assets/img/home/top-arrow.svg" alt="Arrow pointing to the right">
              </div>
            </div>
            <!-- Second row with four icons and text -->
            <div class="grid-row grid-gap">
              <div class="tablet:grid-col-3 text-center">
                <img src="../../assets/img/home/f-1.svg" alt="Identify a Problem or Find a Legislative Barrier">
              </div>
              <div class="tablet:grid-col-3 text-center">
                <img src="../../assets/img/home/f-2.svg" alt="Recommend a Change">
              </div>
              <div class="tablet:grid-col-3 text-center">
                <img src="../../assets/img/home/f-3.svg" alt="Get Permission From Congress">
              </div>
              <div class="tablet:grid-col-3 text-center">
                <img src="../../assets/img/home/f-4.svg" alt="Implement and Test">
              </div>
            </div>
            <!-- Third row with spaced arrows -->
            <div class="grid-row grid-gap">
          
              <div class="tablet:grid-col-6 text-center">
                <img class="margin-top-4" src="../../assets/img/home/bottom-arrow.svg" alt="Arrow pointing to the right">
              </div>
              <div class="tablet:grid-col-6 text-center">
                <img class="margin-top-4" src="../../assets/img/home/bottom-arrow.svg" alt="Arrow pointing to the right">
              </div>
           
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  



