<section class="h-flow">
  <div class="grid-container margin-bottom-10">
      <div class="grid-row">
          <div class="tablet:grid-col-8 desktop:grid-col-12 tablet:margin-x-auto">
              <div class="usa-section flow-bg radius-lg">
                  <!-- Top row with centered arrow -->
                  <div class="grid-row" >
                      <div class="desktop:grid-col-12 text-center desktop:margin-left-6">
                          <img src="assets/img/home/top-arrow.svg" alt="Arrow pointing to show progress flow" class="rotate-arrow-mobile arr-1 ">
                      </div>
                  </div>
                  <!-- Second row with four icons and text -->
                  <div class="grid-row margin-top-105 desktop:margin-left-6">
                    <img class="margin-top-105 rotate-arrow-mobile arr-2" src="assets/img/home/top-arrow.svg" alt="Arrow pointing to show progress flow">
                    <img class="margin-top-105 rotate-arrow-mobile arr-3" src="assets/img/home/bottom-arrow.svg" alt="Arrow pointing to show progress flow">
                    <img class="margin-top-105 rotate-arrow-mobile arr-4" src="assets/img/home/bottom-arrow.svg" alt="Arrow pointing to show progress flow">
                      <div class="desktop:grid-col-3 text-center desktop:margin-bottom-0 tablet:margin-bottom-15 mobile:margin-bottom-15">
                          <img src="assets/img/home/f-1.svg" alt="Search icon">
                          <p class="flow-p padding-top-05 font-bold text-center">Identify a Problem or <br>Find a Legislative Barrier</p>
                      </div>
                      <div class="desktop:grid-col-3 text-center desktop:margin-bottom-0 tablet:margin-bottom-15 mobile:margin-bottom-15">
                          <img src="assets/img/home/f-2.svg" alt="Communicate icon">
                          <p class="flow-p padding-top-05 font-bold text-center">Recommend a <br>Change</p>
                      </div>
                      <div class="desktop:grid-col-3 text-center desktop:margin-bottom-0 tablet:margin-bottom-15 mobile:margin-bottom-15">
                          <img src="assets/img/home/f-3.svg" alt="Congress Building icon">
                          <p class="flow-p padding-top-05 font-bold text-center">Get Permission <br>From Congress</p>
                      </div>
                      <div class="desktop:grid-col-3 text-center desktop:margin-bottom-0 tablet:margin-bottom-6 mobile:margin-bottom-6">
                          <img src="assets/img/home/f-4.svg" alt="Checklist icon">
                          <p class="flow-p padding-top-05 font-bold text-center">Implement <br>and Test</p>
                      </div>
                  </div>
                  <!-- Third row with spaced arrows -->
                  <div class="grid-row desktop:margin-left-6">
                      <div class="desktop:grid-col-6 text-center">
                          <img class="margin-top-105 rotate-arrow-mobile arr-1" src="assets/img/home/bottom-arrow.svg" alt="Arrow pointing to show progress flow">
                      </div>
                      <div class="desktop:grid-col-6 text-center">
                          <img class="margin-top-105 rotate-arrow-mobile arr-1" src="assets/img/home/bottom-arrow.svg" alt="Arrow pointing to show progress flow">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>


