<section id="h-hero" class=" h-hero-bgimage ">
    <div class="grid-container grid-col-12">
        <div class="grid-row">
            <!-- Left column for text content and logo -->
            <div class="tablet:grid-col-6">
                <div class="hero-image margin-top-10">
                    <img src="../../assets/img/home/ccpi.svg" alt="CCPI Logo" class="usa-media_block-img">
                </div>
                <div class="hero-content">
                    <h2 class="padding-bottom-0 margin-bottom-3 text-primary-darker text-left">Veteran-Centered,<br>
                        Value-Driven.</h2>
                    <a href="#learn-more" class="usa-button usa-button--accent-cool usa-button--big font-mono-sm hero-learn-more">Learn More</a>
                </div>
            </div>
            <!-- Right column for hero image -->
            <div class="tablet:grid-col-6">
                <div class="hero-img">
                    <img src="../../assets/img/home/hero-img.svg" alt="Hero Image" class="usa-media_block-img h-hero-img">
                </div>
            </div>
        </div>
    </div>
</section>