<section id="pilot" class="h-pilot">
    <section class="grid-container">
        <!-- Section Header -->
        <div class="grid-row usa-section usa-section--light margin-top-neg-9 radius-lg  pilot-bg">
            <div class="tablet:grid-col-12 text-center">
                <h2 class="text-primary-darker">Pilot Approach</h2>
                <p class="font-sans-md text-gray-70 lead">Our approach to pilot design and implementation emphasizes:</p>
            </div>
        </div>
    </section>
        <section class="grid-container" >
            <div class="grid-row ">
             
                <div class="desktop:grid-col-10 desktop:grid-offset-1 tablet:grid-col-8 tablet:grid-offset-2">
                    <div class="grid-row flex-container r-box" >
                        <!-- Overlapping Boxes -->
                        <div class="desktop:grid-col-4 tablet:grid-col-12 text-center flex-item">
                            <div class="usa-card radius-md flex-card">
                                <div class="usa-card__container bg-primary-darker border-0 pilot-card flex-card-container">
                                    <div class="usa-card__header r-b">
                                        <img src="assets/img/home/1.svg" alt="Measure icon" class="usa-media_block-img r-icon">
                                    </div>
                                    <div class="usa-card__body flex-card-body r-b-p ">
                                        <p class="text-white padding-left-4 padding-right-4 r-text">Focus on measurably improving the healthcare outcomes that matter to Veterans.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="desktop:grid-col-4 tablet:grid-col-12 text-center flex-item">
                            <div class="usa-card radius-md flex-card">
                                <div class="usa-card__container bg-primary-dark border-0 pilot-card flex-card-container">
                                    <div class="usa-card__header  r-b">
                                        <img src="assets/img/home/2.svg" alt="Access icon" class="usa-media_block-img r-icon">
                                    </div>
                                    <div class="usa-card__body flex-card-body  r-b-p">
                                        <p class="text-white padding-left-4 padding-right-4 r-text">Promote quality through access, equity, efficiency, and effectiveness, ensuring that all Veterans receive the care they need.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="desktop:grid-col-4 tablet:grid-col-12 text-center flex-item">
                            <div class="usa-card radius-md flex-card">
                                <div class="usa-card__container bg-primary border-0 pilot-card flex-card-container">
                                    <div class="usa-card__header  r-b">
                                        <img src="assets/img/home/3.svg" alt="Priority icon" class="usa-media_block-img r-icon">
                                    </div>
                                    <div class="usa-card__body flex-card-body  r-b-p">
                                        <p class="text-white padding-left-4 padding-right-4 r-text">Advance VA's organizational priorities and address pressing, system-level challenges that require innovative solutions.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
  
        <section class="grid-container">
            <div class="grid-row tablet:padding-top-10 tablet:padding-bottom-10 padding-top-5 padding-bottom-5">
                <div class="tablet:grid-col-2"></div>
                <div class="tablet:grid-col-8 text-center padding-205 padding-top-0 padding-bottom-0">
                    <h2 class="text-primary-darker margin-top-0">Our Mission</h2>
                    <p class="margin-bottom-0 ">The Center for Care and Payment Innovation enhances value for Veterans and VA by designing and testing new ways to deliver and pay for care that efficiently use resources and improve healthcare outcomes.</p>
                </div>
                <div class="tablet:grid-col-2"></div>
            </div>
        </section>


        <section class="grid-container">
            <div class="grid-row tablet:padding-top-10 tablet:padding-bottom-10 padding-top-5 padding-bottom-5">
                <div class="tablet:grid-col-2"></div>
                <div class="tablet:grid-col-8 text-center padding-205 padding-top-0 padding-bottom-0">
                    <h2 class="text-primary-darker margin-top-0">What does CCPI do?</h2>
                    <p class="margin-bottom-0">CCPI partners with VA Health Care systems, VA Integrated Service Networks, VA program offices, and industry leaders in executing three core capabilities:</p>
                </div>
                <div class="tablet:grid-col-2"></div>
            </div>
        </section>
    

        <section class="grid-container">
            <div class="grid-row  padding-bottom-15">
           
                <div class="desktop:grid-col-10 tablet:grid-col-12 desktop:grid-offset-1 tablet:grid-offset-0">
                    <div class="grid-row grid gap">
                        <div class="desktop:grid-col-5 tablet:grid-col-4 text-white">
                            <div class="usa-card bg-primary-darker radius-lg">
                                <div class="usa-card r-1 padding-4">
                                    <h3 class="margin-bottom-1 margin-top-0">Strategy</h3>
                                    <p class="margin-0">Drive alignment of enterprise-level policy, financing and clinical operations</p>
                                </div>
                            </div>
                            <div class="usa-card margin-top-2 bg-primary-dark radius-lg">
                                <div class="usa-card r-2 padding-4">
                                    <h3 class="margin-bottom-1 margin-top-0">Pilots</h3>
                                    <p class="margin-0">Test financial and service delivery models, including use of statutory waiver authority</p>
                                </div>
                            </div>
                            <div class="usa-card margin-top-2 bg-primary radius-lg">
                                <div class="usa-card r-3 padding-4">
                                    <h3 class="margin-bottom-1 margin-top-0">Analytics</h3>
                                    <p class="margin-0">Use advanced analytic methods to identify solutions that yield the greatest benefit to Veterans and VA</p>
                                </div>
                            </div>
                        </div>


                        <div class="desktop:grid-col-5 tablet:grid-col-4 desktop:grid-offset-2 tablet:grid-offset-2 desktop:margin-top-0 tablet:margin-top-0 mobile:margin-top-8">
                            <div class="r-cir-right desktop:margin-top-0 tablet:margin-top-7">

                                <div class="cir-title">
                                    <p class="text-center margin-top-0 margin-bottom-105 text-bold text-base-dark order-2">Field, Program Offices, Industry Leaders</p>
                                </div>

                                <div class="circle-wrapper">
                                    <div class="circle">
                                        <div class="circle__inner">
                                            <p class="text-primary-darker padding-4 order-1">Veteran-<br>Centered,<br> Value Driven</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="cir-title2">
                                    <p class="text-center margin-bottom-105 text-bold text-base-dark margin-top-5">Field, Program Offices, Industry Leaders</p>
                                </div>
                            </div>
                        </div>                  
                    </div>
                </div>
            </div>
        </section>

        <section class="grid-container">
            <div class="grid-row tablet:padding-bottom-7 padding-top-3 padding-bottom-5">
                <div class="tablet:grid-col-2"></div>
                <div class="tablet:grid-col-8 text-center padding-205 padding-top-0 padding-bottom-0">
                    <h2 class="text-primary-darker margin-top-0">CCPI's Waiver Authority</h2>
                    <p class="margin-bottom-0 ">The MISSION Act provides us with authority to request waivers from Congress. Waivers give us flexibility to test new ways to deliver and pay for care that cannot be implemented under existing statutes. <a href="/about" class="text-primary">Learn more</a> about our Waiver Authority on our About Us page.</p>
                </div>
                <div class="tablet:grid-col-2"></div>
            </div>
        </section>

</section>